<div class="container">
  <div class="header">
    <div>
      <button class="logout-btn" (click)="logout()">Log out</button>
      <h3>Chat app</h3>
    </div>
  </div>

  <div #chatScroll class="chat-board">
    <div *ngFor="let msgObj of convo">
      <app-chat-message [msgObj]="msgObj"></app-chat-message>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" class="chat-inputarea">
    <input type="text" class="chat-input" placeholder="Start a new message" name="newMessage" [(ngModel)]="newMessage" />
    <button type="submit" class="send-btn">send</button>
  </form>
</div>
