.msger {
  display: flex;
  position: fixed;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  height: calc(100%);
  border: 2px solid #ddd;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  text-align: center;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  border-bottom: 2px solid #ddd;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-text {
  color: #fff;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.msg-bubble-left {
  position: relative;
  background: #88e407;
  max-width: 450px;
  padding: 10px;
  border-radius: 7px;
}

.msg-bubble-right {
  position: relative;
  background: #88e407;
  max-width: 450px;
  padding: 10px;
  border-radius: 7px;
}

.msg-bubble-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 60%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-color: #88e407;
  border-left: 0;
  margin-top: -6px;
  margin-left: -6px;
}

.msg-bubble-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 60%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #88e407;
  border-right: 0;
  margin-top: -6px;
  margin-right: -6px;
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg-info-name-left {
  margin-left: 10px;
  margin-right: 10px;
  color: #687a89;
}

.msg-info-name-right {
  margin-right: 10px;
  text-align: right;
  color: #687a89;
}

.left-msg .msg-bubble {
  margin-left: 10px;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  margin-right: 10px;
  background: #88e407;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: 2px solid #ddd;
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1em;
}

.msger-input {
  flex: 1;
  background: #f5f8fa;
}

.msger-send-btn {
  margin-left: 10px;
  background: #666666;
  color: #fff;
  cursor: pointer;
}

.msger-chat {
  background-color: #fcfcfe;
}

.logout-btn {
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1em;
  border: none;
  margin-top: -7px;
  margin-right: 10px;
  margin-left: -100px;
  float: right;
  background: #666666;
  color: #fff;
}
