.container {
  display: flex;
  position: fixed;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  height: calc(100%);
  border: 2px solid #ddd;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  border-bottom: 2px solid #ddd;
}

.chat-board {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}

.chat-board::-webkit-scrollbar {
  width: 6px;
}

.chat-board::-webkit-scrollbar-track {
  background: #ddd;
}

.chat-board::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.chat-inputarea {
  display: flex;
  padding: 10px;
  border-top: 2px solid #ddd;
}

.chat-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1em;
}

.chat-input {
  flex: 1;
  background: #f5f8fa;
}

.send-btn {
  margin-left: 10px;
  background: #666666;
  color: #fff;
  cursor: pointer;
}

.logout-btn {
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1em;
  border: none;
  margin-top: -7px;
  margin-right: 10px;
  margin-left: -100px;
  float: right;
  background: #666666;
  color: #fff;
  cursor: pointer;
}
